.parent{
    padding: 0;
}

.parent-flex {
    padding: 0 3em;
    max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}

.top-carausel{
    background-color:#171a29;
    padding:3em 0.5em;

}

.font-awesome{
    padding-right:5px;
}

.dish-band{
    background-color:#d4d5d9;
    width:100%;
    height:1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dish-band1{
    display:flex;
    justify-content: space-evenly;
    flex:1 0 30%
}
.dish-band2{
    flex:1 0 67%
}
.dish-band0{
    flex:1 0 3%
}
.dish-band1 span{
    font-size: 10px;
    
}
.dish-band1 span:not(:last-child){
    color:#93959f;
}
.food-icon::before{
    content: "";
    display:inline-block;
    outline-offset: 5px;
    outline:1px solid grey;
    border-radius: 50%;
    height:8px;
    width:8px;
    background-color: red;
}
.food-icon1::before{
    content: "";
    display:inline-block;
    outline-offset: 3px;
    outline:1px solid grey;
    border-radius: 50%;
    height:5px;
    width:5px;
    background-color: red;
}
.typo-font{
    font-size:'25px';
}

.rest-flex{
    justify-content: flex-start;
}

.restText{
    
    font-size:50px;
    color:yellow;
}

.lpad{
    padding-left:1px;
}

.flex-items1{
    flex:1 0 15%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.flex-items2{
    flex:2 0 35%
}

.flex-items3{
    flex:3 0 50%;
    display:flex;
    justify-content:space-around;
}

.dish-flex-items1{
 flex:1 0 40%;
 
}

.dish-flex-items2{
    flex:2 0 60%;
    display:flex;
    justify-content:space-around;
   }
 .dish-container{
    justify-content:space-between;
    align-items:flex-start;
    margin-top:50px;
 }  

.logo{
    height: 5em;
}
.icon-heartInverse:before {
    content: "\E92B";
}

.google-appstore{
    height: 10em;
}

.bottom-footer{
    background-color:#000;
    padding:3em 3em;    
}

.footer-flex {
    padding: 3em 3em;
    max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;    
}